.Review {
  width: 280px;
  height: 570px;
  .itemContainer {
    width: 280px;
    height: 560px;
    display: flex;
    flex-direction: column;

    border: 1px solid lightgray;
    img {
      width: 280px;
      height: 280px;
    }
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
