.reviewCard {
  display: flex;
  flex-flow: column;
  width: 280px;
  margin: 20px 10px;
  background-color: white;
  transition: all 0.2s ease-out;
}
.review {
  &.imgBox {
    width: 280px;
    height: 200px;
    background-color: lightGrey;
    img {
      width: 280px;
      height: 200px;
    }
  }
  &.contents {
    padding: 30px 20px 40px;
    .starsRate {
      margin-bottom: 10px;
      i {
        margin-right: 2px;
        font-size: 140%;
        color: yellow;
      }
    }
    .contentsBody {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.2em;
      height: 3.6em;
      text-align: left;
    }
    .user {
      margin-top: 14px;
      font-size: 13px;
      .userName {
        margin-right: 10px;
        font-family: ‘THICCCBOI Bold’, sans-serif;
      }
      .date {
        font-size: 10px;
        color: grey;
      }
    }
  }
}
