/* Reviews */
.reviewsWrapper {
  padding: 120px 0;
  background-color: lightGrey;
}
.reviewRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 65%;
  margin: 40px auto 0;
}
