@import '../../../../styles/common.scss';

/* features */
.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 440px;
  background-color: $white;

  .featuresImg {
    width: 50%;
    height: 440px;
    background-image: url(./features_img.jpg);
    background-position: center;
    background-size: cover;
  }

  .featuresContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 440px;

    .contentsBody {
      width: 400px;
    }

    .featuresList {
      display: flex;
      justify-content: space-between;
      margin: 40px auto 0;

      .listItem {
        width: 160px;
        color: $purple;
        font-family: 'THICCCBOI Medium', sans-serif;
        text-align: center;

        span {
          margin-bottom: 25px;
          display: block;
        }
      }
    }
  }
}

.featuresFalse {
  opacity: 0;
  transition: opacity 1s;
}
