@import '../../../styles/common.scss';

.ProductListHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $lightGrey;

  .contentsBody {
    width: 500px;
  }
}

.productListContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 400px;
}

.productListHeaderImg {
  height: 400px;
  width: 50%;
  background-position: center;
  background-size: cover;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}
