//@import '../../../../styles/common.scss';

/* Reviews */
.reviewsWrapper {
  padding: 120px 0;
  background-color: #f5f5f5;
}

.reviewRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 94%;
  margin: 40px auto 0;
}
