@import '../../../../styles/common.scss';

.cartList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid $grey;
}
