@import '../../../../styles/common.scss';

/* categories */
.categoriesWrapper {
  display: flex;
  flex-direction: row;
  height: 800px;

  .category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .contentsWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20% auto 0;
      width: 70%;
      z-index: 1;

      &.right {
        margin: 0 auto;
        width: 50%;
        &.up {
          margin-left: 10%;
        }
        &.down {
          margin-right: 10%;
        }
      }
    }

    .contentsTitle,
    p {
      color: $white;
    }

    .button {
      margin-top: 40px;
      background-color: $deepPurple;
    }

    &.left {
      background-color: $blue;
      z-index: 2;
    }

    img {
      position: absolute;

      &.leftPuppy {
        bottom: 0;
        width: 70%;
        max-width: 400px;
        z-index: 0;
      }
      &.rightFood {
        width: 30%;
        z-index: 0;
        transform: translate(250%, 0);
      }
      &.rightTreat {
        width: 30%;
        z-index: 0;
        transform: translate(-20px, 0);
      }
    }
  }
}

.innerCategory {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.up {
    background-color: $green;
    height: 50%;
    width: 100%;
  }
  &.down {
    background-color: $yellow;
    height: 50%;
    width: 100%;
  }
}
